{{ define "main" }}
<div class="archives-page">
    <h1>{{ .Title }}</h1>
    {{ $pages := where .Site.RegularPages "Section" "posts" }}
    {{ $groupByYear := $pages.GroupByDate "2006" }}
    {{ range $groupByYear }}
    <h2 class="archives-year">{{ .Key }}</h2>
    <ul class="archives-list">
        {{ range .Pages.ByDate.Reverse }}
        <li>
            <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "01-02" }}</time>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
    </ul>
    {{ end }}
</div>
{{ end }}
